@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  @font-face {
    font-family: "Alfphabet";
    font-weight: 900;
    src: url("./assets/fonts/Alfphabet-IV.woff") format("woff");
  }
}
